<!DOCTYPE html>
<html lang="kr" dir="ltr">

<head>
  <meta charset="euc-kr">
  <title>form01.html</title>
</head>

<body>
  <form action="/formsave" method="post">
    <p>이름 : <input type="text" name="name"></p>
    <p>나이 : <input type="number" name="age" step="1" max="120" min="0" value="30"></p>
    <p>이메일 : <input type="text" name="email"></p>
    <p>전화번호 : <input type="text" name="tel"></p>
    <p>수신동의 : <input type="radio" name="agree" checked="checked"></p>
    <p>
      <input type="submit" value="등록">

    </p>

  </form>

</body>

</html>
